canvas {
  background: grey;
  margin: auto;
  display: inline-block;
  text-align: center;
}

.game-container{
  display: block;
  margin: auto;
  padding: 10px;
  /*width: 90%;*/
  text-align: center;
}

.instructions-container {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.controls-container {
  display: block;
  margin: auto;
  text-align: center;
  float: left;
  padding: 20px;
}

.tips-container {
  display: block;
  margin: auto;
  text-align: center;
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Play', sans-serif;
  color: white;
}

ul {
  list-style: none;
}

li {
  font-family: 'Play', sans-serif;
  color: white;
}

body {
  background-color: black;
}

#left-wrapper {
  position: relative;
  display: inline-block;
  max-height: 300px;
}

#right-wrapper {
  position: relative;
  display: inline-block;
  max-height: 300px;
}
