canvas {
  background: grey;
  margin: auto;
  display: inline-block;
  text-align: center;
}

.game-container{
  display: block;
  margin: auto;
  padding: 10px;
  /*width: 90%;*/
  text-align: center;
}

.instructions-container {
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 10px;
}

.controls-container {
  position: relative;
  display: block;
  margin-left: 100px;
  float: left;
  text-align: left;
  font-size: 20px;
  width: 25%;
  border: 4px;
  border-style: outset;
  border-color: white;
  padding: 10px;
}

.tips-container {
  position: relative;
  display: block;
  float: right;
  text-align: left;
  font-size: 20px;
  margin-right: 95px;
  width: 55%;
  border: 4px;
  border-style: outset;
  border-color: white;
  padding: 10px;
}

h1, h2, h3 {
  font-family: 'Play', sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
}

ul {
  list-style: none;
}

li {
  font-family: 'Play', sans-serif;
  color: white;
  margin: 2px;
}

body {
  background-color: black;
}

#left-wrapper {
  position: relative;
  display: inline-block;
}

#right-wrapper {
  position: relative;
  display: inline-block;
}

.orange {
  color: #e04c00;
}

.blue {
  color: #037fe1;
}
