canvas {
  background: grey;
  padding: 0;
  margin: auto;
  display: block;
  text-align: center;
}

.game-container{
  display: block;
  margin: auto;
  width: 90%;
  text-align: center;
}

h1 {
  font-family: 'Play', sans-serif;
  color: white;
}

body {
  background-color: black;
}
